<!-- Add item to storage view -->
<div fxLayout="column" fxLayoutAlign="center center">
  <h2>Add items to storage</h2>
  <mat-form-field>
    <input matInput placeholder="name" [(ngModel)]="name">
  </mat-form-field>
  <button mat-raised-button (click)="addItem()">Add items</button>

  <div class="button-row">
    <button mat-fab color="primary" (click)="takePhoto()">Scan</button>

    <input #fileInput class="hidden-input" type="file" accept="image/*" capture="camera" (change)="doUpload($event)"/>
  </div>

  <div *ngIf="currentUpload">
    <progress class="progress is-success" min=1 max=100 value="{{ currentUpload?.progress }}"></progress>
    Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
  </div>

</div>