<div>
  <mat-form-field>
    <input matInput placeholder="id" [(ngModel)]="id">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="name" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="timestamp" [(ngModel)]="depositeDate">
  </mat-form-field>
  <button mat-raised-button (click)="addItem()">Add items</button>
  <div *ngIf="oldStuff" class="poptext" fxLayout="column" fxLayoutAlign="center center">
    <h2>You have some items that are in your storage for more then a year!</h2>
    <mat-list fxLayout="column" fxLayoutAlign="start center">
      <mat-list-item *ngFor="let item of oldStuff">{{item?.name}}</mat-list-item>
    </mat-list>
  </div>

  <div class="button-row">
    <button mat-fab color="primary" (click)="takePhoto()">Primary</button>

    <input #fileInput class="hidden-input" type="file" accept="image/*" capture="camera" />
  </div>
</div>

<li *ngFor="let humid of humidData">
  <ul>{{humid | json}}</ul>
</li>
