<!-- Add item to storage view -->
<div fxLayout="column" fxLayoutAlign="center center">
  <h2>Add items to storage</h2>
  <mat-form-field>
    <input matInput placeholder="name" [(ngModel)]="name">
  </mat-form-field>
  <button mat-raised-button (click)="addItem()">Add items</button>
  <div *ngIf="oldStuff" class="poptext m-t" fxLayout="column" fxLayoutAlign="center center">
    <h2>You have some items in your storage for more then a year!</h2>
    <mat-list fxLayout="column" fxLayoutAlign="start center">
      <mat-list-item *ngFor="let item of oldStuff">{{item?.name}}</mat-list-item>
    </mat-list>
  </div>

  <div class="button-row">
    <button mat-fab color="primary" (click)="takePhoto()">Scan</button>
    <input #fileInput class="hidden-input" type="file" accept="image/*" capture="camera" />
  </div>
</div>

<!-- Storage room state view -->
<div fxLayout="column" fxLayoutAlign="center center">
  <h2>Storage room state (last 24 hours)</h2>
  <mat-card *ngFor="let humid of humidData">
    <mat-card-title class="row">
      <strong>Date:</strong>
      <span>{{humid.timestamp | date:'medium'}}</span>
    </mat-card-title>
    <mat-card-content class="row">
      Humidity: {{humid.humidity | number: '1.1-2'}}
      Light: {{humid.light | number: '1.1-2'}}
      Motion: {{humid.motion | number: '1.1-2'}}
      Temperature: {{humid.temperature | number: '1.1-2'}}
    </mat-card-content>
  </mat-card>
</div>
