<div fxLayout="column" fxLayoutAlign="center center">
  <h4>Coming soon</h4>
  <ol>
    <li>Get notified when to sell based on demand in local Facebook marketplace</li>
    <li>Your lights at home could signal the condition of your storage room:
      <br> - Red: above average temperature
      <br> - Blue: above average humidity
      <br> - Orange: items older than 1 year in storage, time to sell
    </li>
  </ol>
  <div fxLayout="row" fxLayoutAlign="center center" class="logo-container" [ngStyle]="{'background-image': 'url(assets/logo_full.png)'}">
  </div>
</div>